.node {
    width: 25px;
    height: 25px;
    outline: 1px solid grey;
    display: inline-block;
}

.node-destination {
    background-color: red;
}

.node-start {
    background-color: green;
}

.node-visited {
    background-color: blue;
}

.node-path {
    background-color: yellow;
}

.node-wall {
    background-color: gray;
}